
a{
	background-color: green;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	padding: 5px;
}
a:hover{
	background-color: orange;
	color: white;
	font-size: 20px;
}
table{
	position: relative;
	left: 200px;
	background-color: powderblue;
	border-radius: 10px;
}
th, td{
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}
input[type=text]{
	height: 30px;
	border-radius: 10px;
	outline: none;
	text-indent: 20px;
}
input[type=text]:focus{
	background-color: orange;
	color: white;
}
input[type=button]{
	background-color: orange;
	color: white;
	height: 40px;
	border-radius: 10px;
	outline: none;
}
input[type=button]:hover{
	cursor: pointer;
}
img{
	border-radius: 10px;
}
/*img:hover{
	height: 200px;
	width: 200px;
}*/
select{
	background-color: orange;
	color: white;
}
option{
	color: black;
}