body{
	background-color: #92d1ad;
	padding: 0;
	margin: 0;
}
.main{
	margin: 100px 0 0 200px;
	padding: 50px;
}
table{
	background-color: #61dafb;
	color: black;
	border-radius: 10px;
}
 tr td {
	border: none;
	border-radius: 30px;
	width: 200px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}
input{
	border-radius: 30px;
	width: 200px;
	height: 30px;
	outline: none;
	text-indent: 10px;
}
.sub{
	background-color: #02132d;
	width: 835px;
	border-radius: 10px;
}
.output{
	position: relative;
	top:40px;
}
.sub h1{
	position: relative;
	top: 30px;
	color: white;
}